<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP-IT ONLINE PAYMENT APP</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <section>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">TO<span1>P-</span1>iT</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/">About</a></li>
                        <!-- <li><a href="#">Packages</a></li> -->
                        <li><a href="/contact">Contact</a></li>
                        <!-- <li><a href="#">More</a></li> -->
                    </ul>
                </div>
                <div class="search">
                    <input class="srch" type="seacrh" name="" placeholder="search bar">
                    <a href="a"><button class="btn">search</button></a>
                </div>
                <br>
                <div class="content">

                    <h1>MOBILE<br><span>RECHARGE</span><br>PAYMENT APP</h1>

                    <p class="par">Top-it has consistently embraced innovation to provide a
                        superior <br> level of excellence for all over valuable customers. <br> Fostering deep
                        connection with its customers <br> and placing satisfaction and greater profit output <br>
                        seamlessly and easily adaptable.
                    </p>

                    <button class="cn"><a href="/signup">JOIN US</a></button>
                </div>
                <form class="form" action="login" method="post">
                    <h2>LOGIN HERE</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="password" placeholder="Enter Password Here">
                    <button type="submit" class="btnn">LOGIN</button>
                    <p class="link">Don't have an account<br>
                        <a href="/signup">Sign up </a>here</a>
                    </p>

                </form>
            </div>
        </div>
    </section>

    <section id="heros">
        <!-- <a href="/About"></a> -->
        <h2>About Us!</h2>

        <h2>TO<span1>P-</span1>iT</h2>
        <p class="hero">
            The ultimate solution for mobile airtime and utility recharge services. <br> Our
            app is designed to make your life easier by providing a fast, secure, and <br>convenient platform for all
            your
            recharge needs.
            At TOP-IT, we understand the importance of <br> staying connected and keeping your essential services up and
            running. <br>With just a few taps on your mobile device, you can effortlessly recharge your prepaid mobile
            airtime,<br> ensuring uninterrupted communication with your loved ones.
        </p>


        <p class="hero">
            But we don't stop there – our app goes beyond airtime recharge. <br>Say goodbye to long queues and late
            payment
            fees with our utility recharge feature. <br>Easily pay your electricity, water, gas, and other bills,
            ensuring
            that you never miss a due date.<br>
            Security is our top priority. You can trust TOP-IT to handle your personal<br> and financial information
            with
            the utmost confidentiality and encryption standards.
        </p>

        <p class="hero">
            Our team is dedicated to providing a seamless user experience, focusing on simplicity and convenience.
            <br>We take pride in our reliable service and are available 24/7 to assist you with any questions or
            concerns.<br>
            Join TOP-IT today and experience a new level of efficiency and ease in managing your <br>mobile airtime and
            utility recharges. Stay connected, stay in control, with TOP-iT
        </p>

        <a href="/signup" class="cta-btn">SIGN UP NOW</a>
    </section>


    <section id="features">
        <!-- <h2>About Us!</h2> -->
        <h3 class="Rec">Our<br><span>Recharge</span><br>Packages</h3>
        <!-- <h2>TO<span1>P-</span1>iT</h2> -->
        <p class="float">
            Stay connected and manage your essential utilities effortlessly with our all-inclusive Recharge Packages.
            <br>
            App is designed to make your life easier by providing a fast, secure, and convenient platform for all your
            recharge needs.<br>
            Designed to simplify your life, our packages seamlessly combine airtime and utility charges, offering you
            unmatched convenience and savings. <br>
            With our Recharge Packages, you can easily top up your airtime balance and cover your utility expenses <br>
            in one go. No more hassle of managing separate payments or running out of credit at crucial moments.
        </p>
    </section>












    <!-- <section id="features"> -->
    <!-- <h3 class="Rec">Our<br><span>Recharge</span><br>Packages</h3> -->
    <!-- <div class="float"> -->
    <!-- <fieldset class="a">Stay connected and manage your essential utilities effortlessly with our all-inclusive
                Recharge Packages. <br> -->
    <!-- Designed to simplify your life, our packages seamlessly combine airtime and utility charges, offering
                you unmatched convenience and savings. -->

    <!-- With our Recharge Packages, you can easily top up your airtime balance and cover your utility expenses
                in one go. No more hassle of managing separate<br> -->
    <!-- payments or running out of credit at crucial moments. Stay in control of your communication needs and -->
    <!-- essential services without the stress of multiple transactions.
            </fieldset>
            </div>
    </section> -->


    <footer>

        <div class="under">
            <p>&copy; 2023
            <h2>TO<span1>P-</span1>iT</h2>. All rights reserved.</p>
        </div>

    </footer>

</body>

</html>