<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopiT - Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body>
    <div class="container">
        <div class="details">
            <h1>Create an account</h1>
            <h2>Sign up now to enjoy endless transactions</h2>
            
            <form action="" method="post">
                <!-- Name input  -->
                <input type="text" id="name" placeholder="Full name" required name="fullname">
                
                <!-- Email input -->
                <input type="email" id="email" placeholder="you@email.com" required name="email">
                
                <!-- Username input  -->
                <input type="text" id="username" placeholder="Enter your username" required name="username">
                
                <!-- Password input  -->
                <input type="password" id="password" placeholder="Enter your password" required name="password">
                
                <!-- Phone Number input  -->
                <input type="text" id="phone" placeholder="Enter your phone number" required name="phone">
                
                <br>
                <!-- Create account button -->
                <button type="submit">Create Account</button>
                <!-- Sign in button -->
                <div class="signin">
                    <p>Already have an account?</p>
                    <a href="/.">Sign In</a>
                </div>
                
            </form>
        </div>
        <!-- <div class="signUpImage"> -->
            <!-- Signup page display image -->
            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" alt="Image">
        </div>  -->
    </div>
</body>

</html>