<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topit - Profile Update</title>
  <link rel="stylesheet" href="/stylesheets/updateprofile.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>

<body>
  <section class="whole">
    <section class="nav_section">
      <nav class="nav_vertical">
        <h1 class="topit">TopiT</h1>
        <ul>
          <li class="navlist"><a href="/account/dashboard">Dashboard</a></li>
          <li class="navlist"><a href="/account/recharge-airtime">Recharge</a></li>
          <li class="navlist"><a href="/account/recharge-data">Buy data</a></li>
          <li class="navlist"><a href="/account/transactions">Transactions</a></li>
          <li class="navlist"><a href="/account/fund-wallet">Add funds</a></li>
          <li class="navlist"><a href="/account/withdraw">Withdraw funds</a></li>
        </ul>
      </nav>
      <nav class="nav_btm">
        <img class="navpix" src="/images/pic.png" alt="profilepix">
        <a class="profilename" href="/account/profile">
          <h4>My Profile</h4>
        </a>
        </ul>
      </nav>
    </section>
    <div class="form-section">
      <nav class="nav_main">
        <div class="pix_name">
          <img class="top_nav_pix" src="/images/pic.png" alt="profilepix">
          <p><%= username %></p>
        </div>
        <form action="/account/logout" method="post">
          <input type="submit" value="LOGOUT"/>
        </form>
      </nav>
      <div class="update-form">
        <h2>Update Account Details</h2>
        <form>
          <label for="new-name">Name</label>
          <input type="text" id="new-location" name="new-location" required>

          <label for="new-username">Username</label>
          <input type="text" id="new-username" name="new-username" required>

          <label for="new-email">New Email</label>
          <input type="email" id="new-email" name="new-email" required>

          <label for="new-phone">Phone number</label>
          <input type="tel" id="new-phone" name="new-phone" required>

          <label for="new-profile-picture">New Profile Picture</label>
          <input type="file" id="new-profile-picture" name="new-profile-picture">

          <button type="submit">Update Account</button>
        </form>
      </div>
    </div>
  </section>
  <footer>
    <!-- Add footer content here -->
  </footer>
</body>

</html>