<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopiT - Withdraw</title>
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>

<body>
  <section class="nav_section">
    <nav class="nav_vertical">
      <h1 class="topit">TopiT</h1>
      <ul>
        <li class="navlist"><a href="/account/dashboard">Dashboard</a></li>
        <li class="navlist"><a href="/account/recharge-airtime">Recharge</a></li>
        <li class="navlist"><a href="/account/recharge-data">Buy data</a></li>
        <li class="navlist"><a href="/account/transactions">Transactions</a></li>
        <li class="navlist"><a href="/account/fund-wallet">Add funds</a></li>
        <li class="navlist1"><a href="/account/withdraw">Withdraw funds</a></li>
      </ul>
    </nav>
    <nav class="nav_btm">
      <img class="navpix" src="/images/pic.png" alt="profilepix">
      <a class="profilename" href="/account/profile">
        <h4>My Profile</h4>
      </a>
      </ul>
    </nav>
  </section>
  <nav class="nav_main">
    <div class="pix_name">
      <img class="top_nav_pix" src="/images/pic.png" alt="profilepix">
      <p><%= username %></p>
    </div>
    <form action="/account/logout" method="post">
      <input type="submit" value="LOGOUT"/>
    </form>
  </nav>
  <div>
    <a href="">
      <img src="images/mtn.png" alt="Line_logo">
    </a>
    <h3>Top up your TopiT wallet</h3>
  </div>
  <div>
    <p>Enter enter amount to top up</p>
    <label for="amount"></label>
    <input type="number">
  </div>

  <h3>OR</h3>

  <div>
    <p>Enter amount to recharge</p>
    <label for="amount"></label>
    <input type="number">
  </div>

  <button type="submit">Recharge NGN 500</button>
  <script src="/javascript/index.js"></script>
</body>

</html>